<div class="flex flex-col justify-between bg-white shadow-md h-screen"
     [class.w-64]="mode==='expanded'" [class.w-20]="mode==='collapsed'">
  <div>
    <div class="flex items-center p-4 border-b">
      <h1 *ngIf="mode==='expanded'" class="font-bold text-indigo-600 text-2xl">Social Spark</h1>
      <i *ngIf="mode==='collapsed'" class="w-10 h-10 text-indigo-600 text-2xl text-center fa-solid fa-sparkles">SS</i>
    </div>

    <div class="px-4 py-6">
      <nav class="space-y-2">
        <a *ngFor="let item of items" [href]="item.path"
           class="flex items-center hover:bg-indigo-50 px-4 py-3 rounded-lg font-medium text-gray-700 hover:text-indigo-600">
          <i [class]="item.icon" [class.mr-3]="mode==='expanded'"></i>
          <span *ngIf="mode==='expanded'">{{ item.label }}</span>
        </a>
      </nav>
    </div>
  </div>

  <!-- Logout -->
  <div class="p-4 border-t">
    <button type="button" (click)="showConfirmDialog()" class="flex items-center hover:bg-red-50 px-4 py-3 rounded-lg font-medium text-red-600">
      <i class="fa-right-from-bracket fa-solid" [class.mr-3]="mode==='expanded'"></i>
      <span *ngIf="mode==='expanded'">Logout</span>
    </button>
    <button type="button" (click)="toggleMode()" class="flex items-center hover:bg-gray-50 mt-2 px-4 py-2 rounded-lg font-medium text-gray-600">
      <i class="fa-solid" [class.fa-angles-left]="mode==='expanded'" [class.fa-angles-right]="mode==='collapsed'" [class.mr-3]="mode==='expanded'"></i>
      <span *ngIf="mode==='expanded'">Collapse</span>
    </button>
  </div>
</div>
